$primary-color: aqua;
$secondary-color: aqua;
$accsent-color: #4d0000;
$border-color-light-gray: #cccccc75;
$color-white: #fff;
$color-black: #000;

$sp-width: 480px;
$tb-width: 748px;
$pc-width: 1024px;

$sp-height: 580px;